/*--------------------------------------------------
Base
--------------------------------------------------*/
html {
    &.overflow-block {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100vh;

        body {
            position: fixed;
            overflow: hidden;
            width: 100%;
            height: 100vh;
        }
    }
}

body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: $bg-main;
}

ul,
ol {
    padding: 0;
    list-style: none;
    margin-bottom: 0;

    &.list-styled {
        list-style: disc;
    }
}

::selection {
    color: $font-title;
    background: $bg-alternative;
}

.page-wrapper {
    width: 100%;
    padding-top: $header-desktop-height;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;

    @include sm {
        padding-top: $header-tablet-height;
    }

    @include xs {
        padding-top: $header-mobile-height;
    }

    > .page-main {
        width: 100%;
        flex: 1;
    }
}

.page-bottom {
    @extend %content;
}

.spacer {
    width: 100%;
    height: 40px;

    &.light {
        background: $bg-main;
    }

    &.dark {
        background: $bg-secondary;
    }

    &.big {
        height: 100px;

        @include xs {
            height: 60px;
        }

        @include xxs {
            height: 30px;
        }
    }
}


.bg-transparent {
    background: transparent !important;
}


.justify-content-center {
    justify-content: center;
}

/*--------------------------------------------------
Animations
--------------------------------------------------*/
a,
a:hover,
button,
button:hover,
.btnborder,
.btntop {
  transition: all .3s ease-in-out;
}

@include sm {
    [data-scroll] {
        transform: none !important;
    }

}

table {
    > caption {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

%img-responsive,
.img-responsive {
    max-width: 100%;
}

%img-fluid,
.img-fluid {
    max-width: 100%;
    height: auto;
}


%content,
.content {
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 $gutter;
    box-sizing: border-box;
}

%arrow-down,
.arrow-down {
    position: relative;

    &:after {
        content: '';
        width: 12px;
        height: 12px;
        background-image: url('../images/arrow-down.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px;
        position: absolute;
        right: 0;
        padding: 7px;
        transition: all .3s ease 0s;

    }
}

%arrow-up,
.arrow-up {

    &:after {
        transform: rotate(180deg);

    }
}

%custom-cols,
.custom-cols {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    box-sizing: border-box;

    %custom-col,
    .custom-col {
        padding: 0 15px;
        box-sizing: border-box;
    }
}

.xdebug-var-dump {
    background: $bg-error;
    color: $bg-error-font;
    overflow: scroll;
    padding: $gutter;

    > small {
        font-size: 10px;
    }

    + .xdebug-var-dump {
        margin-top: -1px;
    }
}

