/*--------------------------------------------------
Buttons
--------------------------------------------------*/
@include buttons {
  text-align: center;
  padding: 0 24px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  transition: all .3s ease 0s;
  background: $btn-secondary-bg;
  border: $btn-secondary-border;
  color: $btn-secondary-font;

  @include xxs {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    line-height: 1.2;
  }

  &:hover {
    background: $btn-secondary-bg-hover;
    border: $btn-secondary-border-hover;
    color: $btn-secondary-font-hover;
  }

  span {
    display: block;
    letter-spacing: inherit;
    font-size: inherit;
  }

  &.btn-primary,
  %btn-primary,
  &.btn-hot,
  %btn-hot,
  &.btn-cta,
  %btn-cta {
    background: $btn-primary-bg;
    border: $btn-primary-border;
    color: $btn-primary-font;

    &:hover {
      background: $btn-primary-bg-hover;
      border: $btn-primary-border-hover;
      color: $btn-primary-font-hover;
    }
  }

  &.btn-gray,
  %btn-gray {
    background: $btn-gray-bg;
    border: $btn-gray-border;
    color: $btn-gray-font;

    &:hover {
      background: $btn-gray-bg-hover;
      border: $btn-gray-border-hover;
      color: $btn-gray-font-hover;
    }
  }
  
  &.btn-lg,
  %btn-lg {
    font-size: 18px;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;

    @include xxs {
      padding-top: 10px;
      padding-bottom: 10px;
      height: auto;
      line-height: 1.2;
    }
  }

  &.btn-sm,
  %btn-sm {
    padding: 0 18px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;

    @include xxs {
      padding-top: 5px;
      padding-bottom: 5px;
      height: auto;
      line-height: 1.2;
    }
  }

  &.btn-empty,
  %btn-empty {
    padding: 0;
    border: 0;
    background: none;
  }

  &.checkout {
    @extend %btn.btn-lg;
    @extend %btn.btn-hot;
    width: 100%;
  }

  &[disabled],
  &.disabled {
    @extend %btn.btn-gray;
    pointer-events: none;
  }
}

.btn-link,
%btn-link {
  border: 0;
  padding: 0;
  color: $font-link;
  margin: 0;
  font-weight: 600;
  position: relative;
  text-transform: none;
  letter-spacing: normal;

  &:hover {
    text-decoration: underline;
    color: $font-link;
    background: none;
  }

  &:focus {
    outline: none;
    outline-offset: 0;
  }
}

.btn-facebook {
  background-color: $bg-facebook;
  border: 0;
  color: $white;
  font-family: $font-fam-base;
  font-size: 15px;
  font-weight: 500;

  &:hover,
  &:active,
  &:focus {
    background-color: $bg-facebook-hover;
  }
}

.btn-google {
  background-color: $bg-google;
  border: 0;
  color: $white;
  font-family: $font-fam-base;
  font-size: 15px;
  font-weight: 500;

  &:hover,
  &:active,
  &:focus {
    background-color: $bg-google-hover;
  }
}

.btn-social,
%btn-social {
  display: flex;
  align-items: center;
  border-radius: 0;
  border: 0;
  height: 40px;
  line-height: normal;
  padding: 0 $gutter 0 0;
  margin: 0;
  font-family: $font-fam-base;
  font-size: 15px;

  &:hover {
    border: 0;
  }

  &.btn-facebook {
    background: $bg-facebook;

    &:hover {
      background: $bg-facebook-hover;
    }
  }

  &.btn-google {
    background: $bg-google;

    &:hover {
      background: $bg-google-hover;
    }
  }

  .fa {
    width: 40px;
    height: 40px;
    border-right: 1px solid rgba($white, .25);
    font-size: 24px;
    margin-right: $gutter;

    &:before {
      line-height: 40px;
    }
  }
}

