/*--------------------------------------------------
Cms
--------------------------------------------------*/

.no-display {
    display: none !important;
}

.loading-mask {
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($white,.75);

    .loader {
        width: 40px;
        height: 40px;
        position: relative;

        > img {
            position: absolute;
            max-width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        > p {
            font-size: 12px;
            width: 120px;
            display: block;
            text-align: center;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.checkout-index-index {
    .loading-mask {
        position: fixed;
        min-width: 100vw;
        min-height: 100vh;
    }
}

.block-cms-nav {
    padding-top: 25px;

    @include sm {
        padding-top: 10px;
    }
}

.last-available {
    display: block;
    clear: both;

    > span {
        display: inline-block;
        margin: 5px 0;
        background-color: rgba($bg-alert, .5);
        color: $black;
        font-size: 13px;
        font-weight: 500;
    }
}

.cookie-notice {
    background: $bg-cta;
    color: white;
    font-weight: 600;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 66;
    padding: 7px 0;
    display: none;

    .cookie-notice-wrapper {
        @extend %content;
        font-size: 12px;
        min-height: 40px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        padding-right: 15%;

        .info {
            margin-right: 10px;
            line-height: 15px;

            @include xs {
                margin-bottom: 10px;
            }
        }

        .button {
            vertical-align: middle;
            margin: 0 5px 0 0;

            @include sm {
                margin-bottom: 10px;
            }

            &.learn {
                @extend %btn.btn-sm;
                @extend %btn.btn-gray;
            }

            &.accept {
                @extend %btn.btn-sm;
            }

        }
    }
}
