/*--------------------------------------------------
Form
--------------------------------------------------*/
.required {
    color: $font-required;
    font-style: normal;
}

form {
    width: 100%;
    border-width: 0 0 1px;
    border-color: $bg-border;
    border-style: solid;
    box-sizing: border-box;

    &:last-of-type {
        border: 0;
    }

    .field {
        position: relative;
        margin-bottom: 5px;
    }

    fieldset {
        margin: 0;
        padding: 0 0 10px;
        border: 0;
        width: 100%;
        box-sizing: border-box;

        > br {
            display: none;
        }
    }

    select {
        width: 100%;
        box-sizing: border-box;
    }
}

label,
a,
button,
select,
input[type='submit'] {
    cursor: pointer;
}

@include inputs {
    border: 1px solid $select-border-color;
    font-family: $font-fam-base;
    font-size: $font-size-select;
    color: $input-text-font-color;
    line-height: 16px;
    padding: 6px;
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;

    &:focus {
        border-color: $black;
        color: $input-text-focus-font-color;
    }
}

input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:hover,
    &:focus {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}

label,
legend {
    float: left;
    color: $label-color;
    font-size: $font-size-label;
    padding: 5px 0 3px;
    margin-bottom: 0;
    line-height: 1.62;
    letter-spacing: 1px;
    text-align: left;

    > span {
        display: inline-block;
    }

}

.required {
    legend {
        span {
            &:after {
                font-size: 12px;
                content: '*';
                color: $font-required;
                display: inline-block;
            }
        }
    }
}

._required {
    label {
        span{
            &:after {
                font-size: 12px;
                content: '*';
                color: $font-required;
                display: inline-block;
            }
        }
    }
}

select {
    border: 1px solid $select-border-color;
    font-family: $font-fam-base;
    font-size: $font-size-select;
    color: $select-font-color;
    line-height: 16px;
    padding: 6px;
    padding-right: 37px;
    border-radius: 0;
    appearance: none;
    background-color: $white;
    background-image:
            linear-gradient(45deg, transparent 45%, $select-arrow-color 55%),
            linear-gradient(135deg, $select-arrow-color 55%, transparent 45%),
            linear-gradient(to top, $select-border-color, $select-border-color);
    background-position:
            calc(100% - 15px) 50%,
            calc(100% - 10px) 50%,
            calc(100% - 30px)  0;
    background-size:
            6px 6px,
            5px 6px,
            1px 100%;
    background-repeat: no-repeat;
    outline: none;

    &:focus {
        color: $font-select-focus;
    }
}


// Radio & checkbox
.radio-buttons,
.checkboxes {
    position: relative;

    .field {
        position: relative;
    }

    &.inline {
        display: flex;
        flex-flow: row nowrap;
    }
}

input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    + label {
        cursor: pointer;
        display: inline-block;
        margin-left: 16px;
        padding: 10px 10px 10px 7px;
        position: relative;

        &:before {
            background-color: $radio-bg;
            position: absolute;
            left: 0;
            top: 50%;
            content: '';
            width: 14px;
            height: 14px;
            border: $radio-border;
            transform: translate(-100%, -50%);
            transition: all .3s ease 0s;
        }

        &:after {
            background: $radio-icon-color;
            position: absolute;
            left: 0;
            top: 50%;
            content: '';
            width: 14px;
            height: 14px;
            transform: translate(-100%, -50%);
            transition: all .3s ease 0s;

        }
    }
}

// Checkbox & Radios

input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100% ;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    + label {
        cursor: pointer;
        display: inline-block;
        margin-left: 16px;
        padding: 10px 10px 10px 7px;
        position: relative;

        &:before {
            background-color: $checkbox-bg;
            position: absolute;
            left: 0;
            top: 50%;
            content: '';
            width: 14px;
            height: 14px;
            border: $checkbox-border;
            transform: translate(-100%, -50%);
            transition: all .3s ease 0s;
        }

        &:after {
            color: $checkbox-icon-color;
            font-size: 18px;
            position: absolute;
            left: 0;
            top: 50%;
            content: '';
            line-height: 16px;
            width: 16px;
            height: 16px;
            background: transparent;
            transform: translate(-100%, -50%);
            transition: all .3s ease 0s;
            text-align: center;
            vertical-align: middle;

        }
    }
}

input[type="radio"] {
    + label {
        float: none;

        &:before {
            border-radius: 100%;
        }

        &:after {
            border-radius: 100%;
        }
    }

    &:hover {
        + label {
            &:before {
                border: $radio-border-hover;
            }
        }
    }

    &:checked{
        width: initial;

        + label {
            &:before {
                border: $radio-border-active;
            }

            &:after {
                border: $radio-border-active;
                background-color: $radio-icon-color-active;
            }
        }
    }
}

input[type="checkbox"] {
    + label {
        float: none;

        &:before {
            background-color: $white;
        }

        @include material-icon($checkbox-icon-name, after, 12px);

        &:after {
            line-height: 16px;
            text-align: center;
            font-weight: bold;
        }
    }

    &:hover {
        + label {
            &:before {
                border: $checkbox-border-hover;
            }
        }
    }

    &:checked{

        + label {

            &:before {
                background-color: $checkbox-bg-active;
                border: $checkbox-border-active;
            }

            &:after {
                color: $checkbox-icon-color-active;

            }
        }
    }
}
