<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Blackbird\MenuManager\Api\MenuRepositoryInterface" type="Blackbird\MenuManager\Model\MenuRepository"/>
    <preference for="Blackbird\MenuManager\Api\NodeRepositoryInterface" type="Blackbird\MenuManager\Model\Menu\NodeRepository"/>
</config>