<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="b2cregister" frontName="b2cregister">
            <module name="Wstechlab_B2cRegister"/>
        </route>
    </router>
</config>