<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wstechlab" translate="label" sortOrder="10">
            <label>Wstechlab</label>
        </tab>
        <section id="b2cRegister" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>B2cRegister</label>
            <tab>wstechlab</tab>
            <resource>Wstechlab_BaseRegister::baseRegister_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <!--<field id="facilitatedVatB2c" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Facilitated VAT B2C Group</label>
                    <source_model>Wstechlab\BaseRegister\Model\Config\Source\UserGroups</source_model>
                </field>-->
                <field id="normalVatB2c" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Normal VAT B2C Group</label>
                    <source_model>Wstechlab\BaseRegister\Model\Config\Source\UserGroups</source_model>
                </field>
            </group>
        </section>
    </system>
</config>