<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\PageCache\Observer\FlushFormKey">
        <plugin name="customerFlushFormKey" disabled="true" />
    </type>
    <type name="Magento\PageCache\Observer\FlushFormKey">
        <plugin name="wstechlab_customerFlushFormKey" type="Wstechlab\BaseRegister\Plugin\CustomerFlushFormKey"/>
    </type>
</config>
