.ept-social-buttons {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.facebook-button:before {
    content: "\f09a";
    font-family: 'FontAwesome';
}
.google-plus-button:before {
    content: "\f0d5";
    font-family: 'FontAwesome';
}
.twitter-button:before {
    content: "\f099";
    font-family: 'FontAwesome';
}
.pinterest-button:before {
    content: "\f231";
    font-family: 'FontAwesome';
}
.whatsapp-button:before {
    content: "\f232";
    font-family: 'FontAwesome';
}
.linkedin-button:before {
    content: "\f0e1";
    font-family: 'FontAwesome';
}
.ept-social-buttons a:hover {
    text-decoration: none;
}
.checkout-cart-index .ept-social-share,
.checkout-index-index .ept-social-share,
.checkout-onepage-success .ept-social-share {
    display: none;
}
.ept-social-share,
.ept-social-share.ept-product-page {
    display: none;
}
.ept-social-share.ept-socialshare-page,
.catalog-product-view .ept-social-share.ept-product-page {
    display: block;
}
.ept-social-share.ept-product-page .facebook-share .facebook-button {
    color: #3b5998;
}
.ept-social-share.ept-product-page .google-plus-share .google-plus-button {
    color: #db4437;
}
.ept-social-share.ept-product-page .twitter-share .twitter-button{
    color: #25aae1;
}
.ept-social-share.ept-product-page .pinterest-share .pinterest-button {
    color: #aa2529;
}
.ept-social-share.ept-product-page .whatsapp-share .whatsapp-button {
    color: #009d00;
}
.ept-social-share.ept-product-page .linkedin-share .linkedin-button {
    color: #0077b7;
}
.column.main {
    position: relative;
}
.ept-social-share.ept-socialshare-page {
    position: fixed;
    top: 35%;
    z-index: 9;
    right: 0;
}
.ept-social-share.ept-socialshare-page .ept-social-buttons {
    display: block;
    clear: both;
    transition: width 0.5s;
    float: right;
}
.ept-social-share.ept-product-page .ept-social-buttons {
    border-radius: 50px;
}
.ept-social-share.ept-product-page .ept-social-buttons.facebook-share:hover .facebook-button,
.ept-social-share.ept-product-page .ept-social-buttons.google-plus-share:hover .google-plus-button,
.ept-social-share.ept-product-page .ept-social-buttons.twitter-share:hover .twitter-button,
.ept-social-share.ept-product-page .ept-social-buttons.pinterest-share:hover .pinterest-button,
.ept-social-share.ept-product-page .ept-social-buttons.whatsapp-share:hover .whatsapp-button,
.ept-social-share.ept-product-page .ept-social-buttons.linkedin-share:hover .linkedin-button,
.ept-social-share.ept-socialshare-page .linkedin-share .linkedin-button,
.ept-social-share.ept-socialshare-page .whatsapp-share .whatsapp-button,
.ept-social-share.ept-socialshare-page .pinterest-share .pinterest-button,
.ept-social-share.ept-socialshare-page .twitter-share .twitter-button,
.ept-social-share.ept-socialshare-page .google-plus-share .google-plus-button,
.ept-social-share.ept-socialshare-page .facebook-share .facebook-button {
    color: #fff !important;
}
.ept-social-share.ept-product-page .facebook-share:hover,
.ept-social-share.ept-socialshare-page .facebook-share {
    background: #3b5998;
}
.ept-social-share.ept-product-page .google-plus-share:hover,
.ept-social-share.ept-socialshare-page .google-plus-share {
    background: #db4437;
}
.ept-social-share.ept-product-page .twitter-share:hover,
.ept-social-share.ept-socialshare-page .twitter-share {
    background: #25aae1;
}
.ept-social-share.ept-product-page .pinterest-share:hover,
.ept-social-share.ept-socialshare-page .pinterest-share {
    background: #aa2529;
}
.ept-social-share.ept-product-page .whatsapp-share:hover,
.ept-social-share.ept-socialshare-page .whatsapp-share {
    background: #009d00;
}
.ept-social-share.ept-product-page .linkedin-share:hover,
.ept-social-share.ept-socialshare-page .linkedin-share {
    background: #0077b7;
}
.ept-social-share.ept-socialshare-page .facebook-share:hover,
.ept-social-share.ept-socialshare-page .google-plus-share:hover,
.ept-social-share.ept-socialshare-page .twitter-share:hover,
.ept-social-share.ept-socialshare-page .pinterest-share:hover,
.ept-social-share.ept-socialshare-page .whatsapp-share:hover,
.ept-social-share.ept-socialshare-page .linkedin-share:hover {
    width: 60px;
}
.ept-social-share.ept-socialshare-page .facebook-share,
.ept-social-share.ept-socialshare-page .google-plus-share,
.ept-social-share.ept-socialshare-page .twitter-share,
.ept-social-share.ept-socialshare-page .pinterest-share,
.ept-social-share.ept-socialshare-page .whatsapp-share,
.ept-social-share.ept-socialshare-page .linkedin-share {
    transition-timing-function: linear;
}