<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <b2bRegister>
            <general>
                <wholesale>2</wholesale>
            </general>
        </b2bRegister>
    </default>
</config>